:root {
    --green-1: #21C063;
    --green-2: #103529;
    --teal-green: #075E54;
    --leat-green-dark: #128C7E;
    --blue: #4FB6EC;
    --light-back: #DCFAE6;
    --dark-back: #ECE5DD;
    --chat: #343636;
    --white: #FAFAFA;
    --black: #000000;
    --grey: #ABACAC;
    --input: #242626;
    --tab-back: #2E2F2F;
    --button-back: #1E2A30;
    --sider: #161717;
    --border: #343636;
    --badge: #1D1F1F;
    --time: #9B9C9C;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100dvh;
    overflow: hidden;
}

#container {
    display: flex;
    height: 100vh;
}

#usuarios {
    width: 25%;
    border-right: 1px solid var(--border);
    padding: 10px;
    overflow-y: auto;
    background-color: var(--sider);
    color: var(--white);
    box-sizing: border-box;
}

#lista-usuarios {
    gap: 4px !important;
}

#usuarios h3 {
    font-weight: 600;
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    background-image: url("./img/back.png");
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
    color: var(--grey);
}

#chat {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    gap: 8px;
}

#input-container {
    display: flex;
    padding: 10px 8px;
    gap: 4px;
    width: 100%;
    background: transparent;
    z-index: 10;
    place-items: center;
    box-sizing: border-box;
}

@supports (height: 100dvh) {
    #input-container {
        bottom: env(safe-area-inset-bottom);
    }
}

#mensaje {
    min-width: 0;
    background-color: var(--input);
    border-radius: 25px;
    padding: 1rem 1.5em;
    border: none !important;
    color: var(--white);
    caret-color: var(--green-2);
    flex: 1;
    resize: none;
    overflow-y: auto;
    max-height: 3rem;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#mensaje::placeholder {
    color: var(--grey);
}

#mensaje:focus {
    outline: 2px solid var(--green-2);
    outline-offset: 2px;
}

#send {
    flex-shrink: 0;
    position: absolute;
    bottom: 10px;
    right: 8px;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 3rem;
    background: none;
    visibility: hidden;
    pointer-events: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

#send:hover {
    background: var(--green-3);
}

#send:active {
    transform: scale(0.95);
    color: var(--green-1);
}

#mensaje:not(:placeholder-shown)~#send {
    pointer-events: all;
    visibility: visible;
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.user:hover {
    background-color: var(--tab-back);
    cursor: pointer;
    border-radius: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile_img {
    width: 3rem;
    aspect-ratio: 1/1;
}

#profile_name {
    font-weight: 400;
    color: var(--white);
}

#profile_status {
    font-size: 0.8rem;
    color: var(--grey);
}

#profile_time {
    font-size: 0.75rem;
    color: var(--green-1);
}

.chat {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}

.my_message {
    background-color: var(--green-2);
    padding: 6px 12px;
    margin: 4px 0;
    border-radius: 5px;
    max-width: 80%;
    color: white;
    margin-left: auto;
    align-self: flex-end;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-width: 15%;
}

.my_content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: inherit;
    font-size: 1.15rem;
}

.you_message {
    background-color: var(--input);
    padding: 6px 12px;
    margin: 4px 0;
    border-radius: 5px;
    max-width: 80%;
    color: white;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-width: 15%
}

.you_content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: inherit;
    font-size: 1.15rem;
}

.advice {
    justify-self: center;
    width: fit-content;
    background-color: var(--badge);
    padding: 6px;
    border-radius: 6px;
    margin: 4px 0;
}

.who {
    font-size: .85rem;
    margin: 0;
    color: var(--green-1) !important;
}

.chat_time {
    font-size: 0.75rem;
    color: var(--time);
    justify-self: end;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px
}

.pop {
    fill: var(--blue) !important;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: var(--sider);
    height: 3rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
    gap: 4px;
}

header label {
    color: var(--white);
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    #input-container {
        left: 0;
        padding: 5px;
        gap: 0;
        position: fixed;
        place-items: center;
        bottom: 0;
        min-width: 0;
    }

    #usuarios {
        position: absolute;
        top: 3rem;
        left: 0;
        translate: -100%;
        height: 100%;
        width: 100%;
        /*transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
        transition: all .5s ease;
    }

    body:has(#toggler:checked) #usuarios {
        translate: 0;
    }

    #send {
        bottom: 5px;
        right: 5px;
    }

    .chat {
        padding-bottom: 3.25rem;
    }
}

@media (min-width: 769px) {
    #toggler {
        display: none;
    }
}